/* nav  */
nav{
  /* border-bottom: 0.25px solid black; */
  box-shadow: 0.5px 0.5px 3px 0.25px #8888886b;
  color:#88888820 ;
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
    margin: 0px;

  }
  li{
    list-style-type: none;
    /* float: right; */
    /* display: inline-block; */
    display: flex;
    align-items: center;
    padding: 20px 40px;
    height: 60px;
    border-bottom: rgba(0, 0, 0, 0) solid 3px;
    transition: all 0.3s;
  
  }
  li:hover{
  
      color: rgb(235, 169, 37);
      border-bottom: rgb(235, 169, 37) solid 3px;
    
  }
  a{
    text-decoration: none;
    color: #555;
    font-weight: 400;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    align-items: center;
  }
  .profile-photo-box{
    
  }
  .profile-photo{
    max-height: 60px;
    padding: 0px;
    margin: 0px auto;
   
    border: 0.5px solid black;
    border-radius: 50%;
    transition: all .3s;
  }
  .profile-photo:hover{
    opacity: 0.7;
  }
 #account-nav-item{
    /* float: left; */
    justify-content: flex-start;
  }
  .nav-list{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .nav-list li{
    padding: 10px 20px; 
  }
  #nav-user-panel{
    display: inline-block;
    opacity: 0.95;
    transition: all .6s;
    background-color: #FFF;
    width: 300px;
    height: 240px;
    z-index: 1;
    position: fixed;
    top: 60px;
    right: 0;
    float: right;
    padding: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.447);
    border-radius: 2px;
  }