#postscol{
    display: inline-block;
    width: 70%;
  
  }
  /* .App-section{
    display: flex;
    flex-direction: row;
  } */
  #formcol{
    display: inline-block;
    width: 400px;
    padding-right: 25px;
  }
/* h2{


} */
/* @media screen and (max-width: 1105px){

    #postscol{
  
      width: 90%;
  
    
    }
    
    #formcol{
      
      
      padding-right: 25px;
    }
  } */
    